@import 'color';


.login{
    width: 100%;
    background-color:lightblue;
    height: 60vh;
    display: flex;
    justify-content: center;
    text-align: center;
    >.user{
       box-shadow: 10px 10px 20px black ;  
        margin: 2rem;
        height: 50vh;
        display: grid;
        justify-content: center;
        align-items: center;
        width: 30rem;
        border-radius: 50px 100px 20px 100px;
        
        background-color: rgba(0,0,0,0.4);
        

        > div >h1{
            font-family: $text2;
            font-weight: bold;
            >span{
                color: red;
            }
        }
    > .int{
        display: grid;
        justify-content: center;
        font-family: $text2;
        gap: 1rem;
        margin-top: -2rem;
        >label{
            display: flex;
            justify-content: space-between;
            >input{
                border-radius: 50px 100px 50px 100px;
            }
        }
    } 
    }
    .bt{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: -2rem;
        > button{
            
            font-family: $text2;
            font-weight: bold;
            font-size: 20px;
            justify-content: space-around;

            letter-spacing: 0.3rem;
            width: 50%;
            border-radius: 50px 100px 50px 100px;
            background-color:rgb(39, 39, 242);
            border: 2px solid rgb(23, 138, 232);
            color: white;
            &:hover{
                background-color: black;
                color: white;
                border: 2px solid red; 
            }
            

        }

    }
    .nri > span{
        display: flex;
        justify-content: flex-end;
        text-align: end;
        font-family: $text2;
        font-weight: bold;
        font-size: 15px;
        margin: 0.5rem;
        color: black;

    }
    .bt1{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: -1rem;
        text-decoration: none;
        > a{
            
            font-family: $text2;
            font-weight: bold;
            font-size: 20px;
            width: 50%;
            border: 2px solid rgb(23, 138, 232);
            border-radius: 100px 50px 100px 50px;
            background-color:rgb(39, 39, 242);
            color: white;
            &:hover{
                background-color: black;
                color: white;
                border: 2px solid red;
            }
}
    }
}